*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-sec {
  min-height: 100vh;
  background-color: black;
}

/* --- About Page --- */

.about {
  width: 100%;
  height: 400px;
  background-image: url("../src/assets/GYM_Website_Images/image3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-sec {
  color: white;
  width: 100%;
}

.left {
  min-height: 350px;
  background-image: url("../src/assets/GYM_Website_Images/about.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}


/* footer section */
.footer{
  display: flex;
  width: 100%;
  color: white;
}
.top{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.bottom{
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-around;
}
.main-cont{
  background-image: url("../src/assets/GYM_Website_Images/image5.jpg");
  /* height: 500px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top ;
  object-fit: cover;
}

/* Blog Component */
.blog-cont{
  width: 100%;
  height: 400px;
  background-image: url("../src/assets/GYM_Website_Images/gymarea5.avif");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gallery cont */
.gallery-cont{
  width: 100%;
  background-image: url("../src/assets/GYM_Website_Images/gallery.jpg");
  height: 400px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-img {
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
        }


         .gallery-img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
        .normal-row {
  height: 300px !important;
}

.small-row {
  height: 300px !important;
}

/*  blog*/
.video-box {
          width: 650px;
          height: 400px;
          object-fit: cover;
          border-radius: 15px;
          box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
        }

        /* Responsive adjustments */
        @media (max-width: 768px) {
          .video-box {
            width: 100%;
            height: 250px;
          }
          .text-white {
            margin-top: 20px;
            text-align: center;
          }
        }

/* footer */

.items{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  font-size:15px;
}

/* service section */
.service-card {
  background: #1c1c1c;
  color: white;
  border-radius: 15px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-10px) scale(1.01);
  box-shadow: 0 7px 15px rgba(255, 130, 0, 0.6);
}

.service-card .icon {
  font-size: 40px;
  color: orange;
  transition: transform 0.4s ease, color 0.4s ease;
}

.service-card:hover .icon {
  transform: rotate(10deg) scale(1.0);
  color: #ffcc00;
}
.service-sec{
  width: 100%;
  height: 400px;
  background-image: url("../src/assets/GYM_Website_Images/service.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
   display: flex;
  justify-content: center;
  align-items: center;
}

